imap.output
*.bak
crontab.out
mech.pl
config.live.in*
test_output.txt
test_sms.pl
mechanize.pl
Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
RideAway-AutoResponder-*
RideAway-AutoResponder-*.tar.gz
rideaway.db
logs/*
*.swo
